/* favorite.css */

.page-containerf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.playlist-cardf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.playlist-cardf img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.playlist-cardf h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.playlist-cardf button {
  margin-top: 10px;
  background-color: #ff4f5a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playlist-cardf button:hover {
  background-color: #e93c47;
}

.playlist-cardf button svg {
  margin-right: 5px;
}

.page-containerf h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
