/* CSS for PlaylistPage */
.playlist-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .playlist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
  }
  
  .playlist-card h3 {
    margin-bottom: 5px;
  }
  
  .playlist-card button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .playlist-card button span {
    opacity: 0;
    pointer-events: none; /* Prevent the span from capturing events */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    white-space: nowrap;
    display: none;
    visibility: hidden;
  }
  
  .playlist-card button:hover span {
    opacity: 1;
    display: block;
    visibility: visible;
  }
  
  .song-details {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #f0f0f0;
  }
  
  .song-details h3 {
    margin-bottom: 10px;
  }
  
  .song-details button {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .song-details button .icon {
    font-size: 24px;
  }
  
  .song-details button span {
    visibility: hidden;
 }
  
  .song-details button:hover {
    background-color: #e0e0e0;
    visibility: visible;
  }
  
  .song-details button:hover span {
visibility: visible;  }
  
  button {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  